{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div id="example"></div>
<div id="tiempo-de-afectacion"></div>

<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>

<!-- custom-chart js -->
<script>
  var options = {
      chart: {
          height: 230,
          type: 'line',
          toolbar: {
              show: false,
          },
      },
      dataLabels: {
          enabled: false
      },
      stroke: {
          width: 2,
          curve: 'smooth'
      },
      series: [{
          name: 'Horas de afectacion',
          data: {{tiempo_de_afectacion|safe}}
      }],
      legend: {
          position: 'top',
      },
      xaxis: {
          categories: {{dias_deficit|safe}},
          axisBorder: {
              show: false,
          },
          label: {
              style: {
                  color: '#ccc'
              }
          },
      },
      yaxis: {
          show: true,            
          labels: {
              style: {
                  color: '#ccc'
              }
          }
      },
      fill: {
          type: 'gradient',
          gradient: {
              shade: 'light',
              shadeIntensity: 0.5,
              type: 'horizontal',
              opacityFrom: 1,
              opacityTo: 1,
              stops: [0, 100]
          },
      },
      markers: {
          size: 5,
          colors: ['#4099ff', '#2ed8b6'],
          opacity: 0.9,
          strokeWidth: 2,
          hover: {
              size: 7,
          }
      },
      grid: {
          borderColor: '#cccccc3b',
      }
    }
    var chart = new ApexCharts(document.querySelector("#tiempo-de-afectacion"), options);
    chart.render();
</script>


<!-- Deficit real vs pronosticado -->
<script>
    var options = {
        chart: {
            height: 230,
            type: 'line',
            toolbar: {
                show: false,
            },
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            width: 2,
            curve: 'smooth'
        },
        series: [{
            name: 'Deficit pronosticado',
            data: {{deficit_pronosticado|safe}}
        }, {
            name: 'Deficit real',
            data: {{deficit_real|safe}}
        }],
        legend: {
            position: 'top',
        },
        xaxis: {
            categories: {{dias_deficit|safe}},
            axisBorder: {
                show: false,
            },
            label: {
                style: {
                    color: '#ccc'
                }
            },
        },
        yaxis: {
            show: true,            
            labels: {
                style: {
                    color: '#ccc'
                }
            }
        },
        fill: {
            type: 'gradient',
            gradient: {
                shade: 'light',
                shadeIntensity: 0.5,
                type: 'horizontal',
                opacityFrom: 1,
                opacityTo: 1,
                stops: [0, 100]
            },
        },
        markers: {
            size: 5,
            colors: ['#4099ff', '#2ed8b6'],
            opacity: 0.9,
            strokeWidth: 2,
            hover: {
                size: 7,
            }
        },
        grid: {
            borderColor: '#cccccc3b',
        }
      }
      var chart = new ApexCharts(document.querySelector("#example"), options);
      chart.render();
</script>


<!--  Inventary Chart -->
<script>
    var options = {
        series: [{{total_cars|safe}}, {{stock.catalysts|safe}}, {{stock.rims|safe}}, {{stock.tires|safe}}, {{total_junked_cars|safe}}],
        chart: {
        width: 380,
        type: 'pie',
      },
      labels: ['Cars', 'Catalizt', 'Rims', 'Tires', 'Junked Cars'],
      responsive: [{
        breakpoint: 480,
        options: {
          chart: {
            width: 200
          },
          legend: {
            position: 'bottom'
          }
        }
      }]
      };
    
      var chart = new ApexCharts(document.querySelector("#total_inventary"), options);
      chart.render();
</script>


<!-- All profit char -->
<script>
    var options = {
        series: [{
        name: 'Cars',
        data: {{cars_data|safe}}
      }, {
        name: 'Others Parts',
        data: {{parts_data|safe}}
      }, {
        name: 'Tires',
        data: {{tires_data|safe}}
      }, {
        name: 'Rims',
        data: {{rims_data|safe}}
      }, {
        name: 'Catalysts',
        data: {{catalysts_data|safe}}
      }, {
        name: 'Engines',
        data: {{engines_data|safe}}
      }],
        chart: {
        type: 'bar',
        height: 350
      },
      plotOptions: {
        bar: {
          horizontal: false,
          columnWidth: '55%',
          endingShape: 'rounded'
        },
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        show: true,
        width: 2,
        colors: ['transparent']
      },
      xaxis: {
        categories: {{categories_all_profit|safe}},
      },
      yaxis: {
        title: {
          text: '$ (thousands)'
        }
      },
      fill: {
        opacity: 1
      },
      tooltip: {
        y: {
          formatter: function (val) {
            return "$ " + val + " thousands"
          }
        }
      }
      };
    
      var chart = new ApexCharts(document.querySelector("#all_profits"), options);
      chart.render();
</script>
{% endblock content %}